* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcead9;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    color: peru;
}

.title {
    color: #b16d29;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.subtite {
    text-align: center;
    margin-bottom: 20px;
}

.recipes ul {
    list-style: none;
}

.recipes li,
a {
    display: inline;
    color: peru;
}

.recipes li a:hover {
    color: #b16d29;
}

.breadcrumbs {
    width: 100%;
    margin: 5px 0px;
    padding: 2px 2px 2px 0px;
}

.breadcrumbs ul {
    color: peru;
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li:before {
    color: peru;
    content: "/";
}

.breadcrumbs li a {
    color: peru;
    text-decoration: none;
}

.breadcrumbs li a:hover {
    color: b16d29;
    text-decoration: underline;
}

.recipe-card {
    margin: 20px auto;
    border: 2px solid #b16d29;
    background-color: white;
    padding: 40px;
}


.recipe-card h1,
.recipe-card h2,
.recipe-card h3,
.recipe-card h4 {
    margin-top: 30px;
}

.recipe-card ul,
.recipe-card ol {
    padding-inline-start: 40px;
}

.recipe-card p {
    color: black;
    margin-top: 20px;
}

.recipe-card-title {
    color: #b16d29;
}

.recipe-card-img {
    max-width: 900;
    width: auto;
    height: 400;
    display: block;
    margin: 20 auto;
}

.card p,
li {
    color: black
}

#credit {
    color: gray;
    margin-top: 0;
    font-size: 12px;
    text-align: center;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-box {
    width: 300px;
    background-color: white;
    margin: 0 10px;
    border: 2px solid #b16d29
}

@media (max-width:600px) {
    .recipes {
        display: inline;
    }

    .recipe-box {
        margin: 10px auto;
    }

}

.recipe-box:hover {
    opacity: 80%;
}

.recipe-box-img {
    width: 250;
    display: block;
    margin: 20 auto;
}

.recipe-box-title {
    margin: 20;
}

.recipe-box-info {
    margin: 20;
    color: black;
}

.recipe-box-url {
    text-decoration: none;
}